/* =======================================
   GENERAL STYLES
   ======================================= */
.about-me-content>p {
  display: flex;
  font-size: 20px;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 2rem;
}

nav {
  opacity: 0;
}

a {
  font-size: 25px;
}

/* =======================================
     LINK HOVER EFFECTS
     ======================================= */
.linkYellow:hover {
  color: rgb(255, 255, 2);
}

.linkBlue:hover {
  color: rgb(11, 113, 230);
}

.linkOrange:hover {
  color: orange;
}

.linkRed:hover {
  color: rgb(0, 245, 0);
}

/* =======================================
     CUSTOM UTILITY CLASSES
     ======================================= */
.mb-6 {
  margin-bottom: 150px;
}

.mb-7 {
  margin-bottom: 250px;
}

.mfs-6 {
  font-size: 30px;
}

.bigFs-6 {
  font-size: 3.1rem;
}

.bg-full-dark {
  background-color: black;
}

.ps-6 {
  padding-left: 8rem;
}

.gap-6 {
  gap: 8rem;
}

/* =======================================
     IMAGE STYLES
     ======================================= */
.personal-img-holder>img {
  padding: 0;
  max-width: 100%;
  height: auto;
  
  height: 100%;
  width: 78%;
  border: none;
  border-radius: 40px;
}

/* =======================================
     PROJECT STYLES
  ======================================= */
.project-background {
  background-color: rgb(21, 21, 29);
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  overflow: visible;
  flex-wrap: wrap;
  width: 90%;
  height: 100%;
  min-height: 200px;
  max-height: 500px;
  
}

.project-background>a {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.project-background:hover>a {
  width: 80%;
  height: 70%;
}

.project-background>a>img {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 50px;
}

.span-cards {
  display: none;
}

.project-background>a:hover+.span-cards {
  display: flex;
  gap: 10px;
  border: none;
  border-radius: 10px;
  margin-top: 30px;
  padding: 5px;
}

/* =======================================
     ANIMATIONS
======================================= */
.animatedTitle {
  animation: slide 2.5s ease-in-out forwards alternate;
}

.animatedNav {
  animation: fadeAnimationNav 3.5s ease-in-out forwards alternate;
}

.animatedAbout {
  animation: fadeIn 4.5s ease-in-out forwards;
  will-change: opacity;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.block {
  animation: appear 5s linear;
  animation-timeline: view();
  animation-range: entry 0 cover 40%;
}

@keyframes appear {
  from {
    opacity: 0;
    scale: 0.5;
  }

  to {
    opacity: 1;
    scale: 1;
  }
}

@keyframes fadeAnimationNav {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes slide {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(5%);
  }
}

/* =======================================
     CONTACT FORM STYLES
     ======================================= */


.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.input-container>input {
  border: none;
  outline: none;
  border-radius: 20px;
  padding-block: 1.2rem;
  padding-inline: 2.5rem;
  width: 100%;
  font-size: 20px;
  margin-top: 5px;
}

.input-container>input:hover,
.input-container>input:focus {
  outline: 2px solid lightskyblue;
}

.form-content>div {
  height: fit-content;
}

.form-content>.message-container {
  height: 50vh;
}

.form-content>.message-container>textarea {
  width: 70%;
  font-size: 2rem;
  border: none;
  border-radius: 10px;
  outline: none;
  padding-inline: 20px;
}

.form-content>.message-container>textarea:hover,
.form-content>.message-container>textarea:focus {
  border: 2px solid rgb(38, 197, 250);
}


/* =======================================
     RESPONSIVE STYLES (SMALL SCREENS)
     ======================================= */

.btn-container>button {
  width: 20%;
  padding: 20px;
  border: none;
  border-radius: 20px;
  font-size: 20px;

}

.btn-container>button:hover {
  background-color: rgb(82, 185, 245);
}

.btn-container>button:active {
  background-color: rgb(11, 83, 192);
}

.icon-holder {
  box-sizing: content-box;
  width: fit-content;
  height: fit-content;
}


@media screen and (max-width: 576px) {
  li {
    font-size: 10px;
  }

  a {
    font-size: 14px;
  }

  .sm-fs {
    font-size: 3rem;
  }

  .personal-img-holder {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .project-background {
    width: 100%;
    height: 100%;
  }

  .form-content>.message-container>textarea {
    width: 100%;
  }

  .input-container {
    width: 100%;
  }

  .form-content>.btn-container>button {
    width: 100%;
  }
}

.text-purple {
  color: #ac09d9 !important;
}