@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Share+Tech&display=swap');


:root {
  /* heading Styling Variables */
  --heading-color: rgb(255, 255, 255);
  --heading-font-weight: 650;
  --heading-font-style: "Poppins", sans-serif;

  /*Subheding Styling Variables*/
  --subHeading-color: rgb(255, 255, 255);
  --subHeading-font-weigth: 500;
  --subHeading-font-style: "Poppins", sans-serif;

  /*Body Styling Variables*/
  --body-color: rgb(200, 200, 200);
  --body-font-weight: 100;
  --body-font-family: "Inter", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(21, 21, 29);
  font-family: "Inter", sans-serif;
  color: white;
}


code {
  font-family: "JetBrains Mono", monospace;
  /* For code */
}


/*headings*/
h1,
h2,
h3 {
  color: var(--heading-color);
  font-family: monospace;
  font-weight: var(--heading-font-weight);
}


h4,
h5 {
  color: var(--subHeading-color);
  font-weight: var(--subHeading-font-weigth);
  font-family: monospace;
}


p {
  color: var(--body-color);
  font-weight: var(--body-font-weigth);
  font-family: monospace;
}

a {
  color: white;
  text-decoration: none;
  font-size: large;
}

a:hover {
  color: #00FFFF;
  /* Neon cyan */
  cursor: pointer;
}

